astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
clickclick==1.2.2
colorama==0.4.3
connexion==2.6.0
Flask==1.1.1
Flask-API==2.0
idna==2.8
inflection==0.3.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
openapi-spec-validator==0.2.8
packaging==20.1
pluggy==0.13.1
psycopg2==2.8.4
py==1.8.1
pylint==2.4.4
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.5
python-dotenv==0.11.0
PyYAML==5.3
requests==2.22.0
six==1.14.0
SQLAlchemy==1.3.13
swagger-ui-bundle==0.0.6
urllib3==1.26.5
wcwidth==0.1.8
Werkzeug==1.0.0
wrapt==1.11.2
